<%- include('../layout/head.ejs') %>
<%- include('../layout/css.ejs') %>
  <title>Document</title>
</head>
<body>


  <%- include('../layout/header.ejs') %>
  <%- include('../layout/username.ejs') %>


  <%- include('../layout/footer.ejs') %>
</body>
</html>