<%- include('../layout/head.ejs') %>
<%- include('../layout/css.ejs') %>
  <title>Document</title>
  <link href="/styles/nav.css" type="text/css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body>


  <%- include('../layout/header.ejs') %>
  <%- include('../layout/username.ejs') %>


  <%- include('../layout/footer.ejs') %>
</body>
</html>