<%- include('../layout/head.ejs') %>
<%- include('../layout/css.ejs') %>
  <title>Document</title>
</head>
<body>
    <%- include('../layout/header.ejs') %>


  <h1>You've completed the quiz.</h1>
  <br>
  <% for (let i = 0; i < scores.length; i++) { %>
  <li><%= scores[i].score %> / <%= scores[i].username %> / <%= scores[i].date %></li>
  <% } %>
  

  <%- include('../layout/footer.ejs') %>
</body>
</html>