<%- include('../layout/head.ejs') %>
<%- include('../layout/css.ejs') %>
<title>Scores</title>
</head>

<body>
  <%- include('../layout/header.ejs') %>

  <div id="score-box">
    <div id="score-text">
      <h1>You've completed the game!</h1>
      <h2 class="main-header" id="score-header">High Scores</h2>
    </div>
    <br>
    <div id="score-list">
        <h2 class="main-header" id="trivia-h2">Trivia</h2>
        <table id="score-table">
            <tr>
              <th>Name</th>
              <th>Score</th>
              <th>Date</th>
            </tr>
            <tr>
              <% for (let i = 0; i < trivia.length; i++) { %>
              <td><%= trivia[i].username %></td>
              <td id="score-td"><%= trivia[i].score %></td>
              <td id="date-td"><%= trivia[i].date %> </td>
            </tr>
            <% } %>
          </table>
        <h2 class="main-header" id="simon-h2" >Simon</h2>
          <table id="score-table">
            <tr>
              <th>Name</th>
              <th>Score</th>
              <th>Date</th>
            </tr>
            <tr>
              <% for (let i = 0; i < simon.length; i++) { %>
              <td><%= simon[i].username %></td>
              <td id="score-td"><%= simon[i].score %></td>
              <td id="date-td"><%= simon[i].date %> </td>
            </tr>
            <% } %>
          </table>   
    </div>
  </div>
  <%- include('../layout/footer.ejs') %>
</body>
</html>