<%- include('../layout/head.ejs') %>
<%- include('../layout/css.ejs') %>
<title>Document</title>
</head>

<body>
  <%- include('../layout/header.ejs') %>

  <div id="score-box">
    <div id="score-text">
      <h1>You've completed the game!</h1>
      <h2 class="main-header" id="score-header">High Scores</h2>
    </div>
    <br>
    <div id="score-list">
      <table id="score-table">
        <tr>
          <th>Name</th>
          <th>Score</th>
          <th>Date</th>
        </tr>
        <tr>
          <% for (let i = 0; i < scores.length; i++) { %>
          <td><%= scores[i].username %></td>
          <td id="score-td"><%= scores[i].score %></td>
          <td id="date-td"><%= scores[i].date %> </td>
        </tr>
        <% } %>
      </table>
    </div>
  </div>
  <%- include('../layout/footer.ejs') %>
</body>
</html>