<%- include('../layout/head.ejs') %>
<%- include('../layout/css.ejs') %>
<link href="styles/timer.css" type="text/css" rel="stylesheet" />
  <title>Trivia</title>
</head>
<body>
  <%- include('../layout/header.ejs') %>
  <%- include('../layout/timer.ejs') %>


  <h2 id="question-title">Number of questions left: <%= (21 - recentQuestion.length) %></h2>
  <div id="trivia-box">
    <form action="/submit" method="POST">
      <fieldset>
        <div id="trivia-answers">
          <legend><%= questionData %></legend>
          <% if (dummyData.questionType === 'boolean') { %>
          <%- include('../layout/questionBoolean') %>
          <% } else { %>
          <%- include('../layout/questionMultiple') %>
          <% } %>
        </div>
      </fieldset>
    </form>
  </div>


  <%- include('../layout/footer.ejs') %>
  <script src="js/timer.js"></script>
</body>
</html>