<%- include('../layout/head.ejs') %>
<%- include('../layout/css.ejs') %>

  <title>Yoda's Trivia</title>
</head>

<body>
  <% let recentQuestionJson = JSON.stringify(recentQuestion) %>
  <div id="lightsaber-timer">
    <%- include('../layout/timer.ejs') %>
  </div>
  <div id="trivia-box">
    <form action="/submit" method="POST">
      <input type="hidden" id="submit_post_username" name="username" value="">
      <input type="hidden" id="submit_post_recentQuestion" name="recentQuestion" value="<%= recentQuestionJson %>">
      <input type="hidden" id="submit_post_numOfCorrectAnswers" name="numOfCorrectAnswers" value="<%= numOfCorrectAnswers %>">
      
      <fieldset>
        <div id="trivia-answers">
          <legend><%= questionData %></legend>
          <% if (StarWarsData.questionType === 'boolean') { %>
          <%- include('../layout/questionBoolean') %>
          <% } else { %>
          <%- include('../layout/questionMultiple') %>
          <% } %>
        </div>
      </fieldset>
    </form>
  </div>
  <script lang="javascript">
    document.getElementById('submit_post_username').value = localStorage.getItem("username");
  </script>


  <img id="yoda-trivia-img" src="/img/yode_full_body.png" />
  <h1 class="main-header" id="trivia-header">Yoda's Trivia</h1>
  <%- include('../layout/footer.ejs') %>
  <script src="js/timer.js"></script>
  <script lang="javascript">
    const score = '<%= numOfCorrectAnswers %>';
    if (score) {
      window.localStorage.setItem('score', score);
    }
    localStorage.setItem('trivia_timer', -1);
  </script>
</body>

</html>