<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <%- include('../layout/header.ejs') %>
  <h1>Index</h1>
  <h2>Number of questions left:  <%= (21 - recentQuestion.length) %></h2>
    <form action="/submit" method="POST">
      <fieldset>
        <legend><%= questionData %></legend>
        <% if (dummyData.questionType === 'boolean') { %>
          <%- include('../layout/questionBoolean') %>
        <% } else { %> 
          <%- include('../layout/questionMultiple') %>
        <% } %>
      </fieldset>
    </form>
</body>
</html>