<%- include('../layout/head.ejs') %>
<%- include('../layout/css.ejs') %>

  <title>Trivia</title>
</head>

<body>
  <h2 id="question-title">Number of questions left: <%= (21 - recentQuestion.length) %></h2>
  <div id="lightsaber-timer">
    <%- include('../layout/timer.ejs') %>
  </div>
  <div id="trivia-box">
    <form action="/submit" method="POST">
      <input type="hidden" id="submit_post_username" name="username" value="">
      <fieldset>
        <div id="trivia-answers">
          <legend><%= questionData %></legend>
          <% if (dummyData.questionType === 'boolean') { %>
          <%- include('../layout/questionBoolean') %>
          <% } else { %>
          <%- include('../layout/questionMultiple') %>
          <% } %>
        </div>
      </fieldset>
    </form>
  </div>
  <script lang="javascript">
    document.getElementById('submit_post_username').value = localStorage.getItem("username");
  </script>


  <img id="yoda-trivia-img" src="/img/yode_full_body.png" />
  <h1 class="main-header" id="trivia-header">Yoda's Trivia</h1>
  <%- include('../layout/footer.ejs') %>
  <script src="js/timer.js"></script>
</body>

</html>